:host ::ng-deep{
  .orbit {
    stroke : #FFFFFF;
    fill : none;
  }
  .planet_cluster {
    stroke : #FFFFFF;
    fill : #FFFFFF;
  }
  .sun {
    stroke : #FFFFFF;
    fill : #FFFFFF;
  }
  .moon {
    stroke: #FFFFFF;
    fill: #FFFFFF;
  }
}
