@import 'src/variables';

:host ::ng-deep{
  .orbit {
    stroke : $stroke-color;
    fill : none;
    z-index: 0;
  }
  .genre_cluster {
    stroke : $stroke-color;
    fill : $stroke-color;
  }
  .sun {
    stroke : $stroke-color;
    fill : $stroke-color;
  }
  .band {
    z-index: 10;
    stroke: $stroke-color;
    fill: $stroke-color;
  }

  #hoverTitle {
    position: absolute;
    left: 458px;
    top: 231px;
    background-color: $background-color;
  }

  #embedded {
    position: absolute;
    top: 0;
    right: 0;
  }

}
