:host ::ng-deep{
  .orbit {
    stroke : #FFFFFF;
    fill : none;
    z-index: 0;
  }
  .genre_cluster {
    stroke : #FFFFFF;
    fill : #FFFFFF;
  }
  .sun {
    stroke : #FFFFFF;
    fill : #FFFFFF;
  }
  .band {
    z-index: 10;
    stroke: #FFFFFF;
    fill: #FFFFFF;
  }

  #embedded {
    position: absolute;
    top: 0;
    right: 0;
  }

}
