<div class="sources">
  <h1 [routerLink]="['/']">THE UNIVERSE
OF METALCORE</h1>

  <p>quellen [stand 20.01.2022]</p>
  <ul>
    <li><a href="https://de.wikipedia.org/wiki/Melodic_Death_Metal">https://de.wikipedia.org/wiki/Melodic_Death_Metal</a></li>
    <li><a href="https://de.wikipedia.org/wiki/Deathcore">https://de.wikipedia.org/wiki/Deathcore</a></li>
    <li><a href="https://de.wikipedia.org/wiki/Arch_Enemy">https://de.wikipedia.org/wiki/Arch_Enemy</a></li>
    <li><a href="https://de.wikipedia.org/wiki/Lamb_of_God">https://de.wikipedia.org/wiki/Lamb_of_God</a></li>
    <li><a href="https://dewiki.de/Lexikon/Melodic_Death_Metal">https://dewiki.de/Lexikon/Melodic_Death_Metal</a></li>
    <li><a href="https://de.wikipedia.org/wiki/Eskimo_Callboy">https://de.wikipedia.org/wiki/Eskimo_Callboy</a></li>
    <li><a href="https://en.wikipedia.org/wiki/Nu_metal">https://en.wikipedia.org/wiki/Nu_metal</a></li>
    <li><a href="https://de.wikipedia.org/wiki/Spiritbox">https://de.wikipedia.org/wiki/Spiritbox</a></li>
  </ul>
  <ul>
    <li><a href="https://www.impericon-mag.com/de/als-metalcore-noch-eine-undergroundbewegung-
war-die-29579/">https://www.impericon-mag.com/de/als-metalcore-noch-eine-undergroundbewegung-
war-die-29579/</a></li>
    <li><a href="https://www.impericon-mag.com/de/metalcore-history-teil-2-die-vielseitigen-
facetten-des-genres-29632/">https://www.impericon-mag.com/de/metalcore-history-teil-2-die-vielseitigen-
facetten-des-genres-29632/</a></li>
    <li><a href="https://www.impericon-mag.com/de/metalcore-history-teil-3-29732/">https://www.impericon-mag.com/de/metalcore-history-teil-3-29732/</a></li>
  </ul>
  <ul>
    <li><a href="https://www.morecore.de/news/eskimo-callboy-kontroverse-songssollen-
verschwinden-aenderung-des-bandnamens-moeglich/">https://www.morecore.de/news/eskimo-callboy-kontroverse-songssollen-
verschwinden-aenderung-des-bandnamens-moeglich/</a></li>
  </ul>
  <button class="back" [routerLink]="['/']">zurück</button>
</div>
