@import "src/variables";

.sources {
  position: absolute;
  left: $margin-left;
  top: 38px;
  font-size: $text-size;
  height: 100vh;
  h1 {
    position: relative;
    left: 0;
    cursor: pointer;
    margin-bottom: 70px;
    font-size: 45px;
    line-height: 44px;
  }
  ul {
    list-style: none;
    padding-left: 0;
    li {
      margin-bottom: 2px;
      white-space: pre;
    }
  }
  a {
    color: $text-color;
    text-decoration: none;
  }
  button.back {
    width: 180px;
    position: fixed;
    bottom: 70px;
  }
}
