@import "src/variables";

.chapter-content {
  position: absolute;
  background: $background-color;

  width: 369px;
  height: 100vh;
  left: 104px;
  padding: 20px;

  h1 {
    white-space: pre;
    background: $background-color;
    cursor: pointer;
    top: 38px;
    font-size: $header-size;
    line-height: 50px;
    left: 20px;
  }

  #chapter-text {
    position: absolute;
    width: 331px;
    white-space: pre-line;
    top: 223px;
    left: 20px;
    border-radius: 20px;
    background-color: $background-color;

    .chapter-title {
      margin-bottom: 25px;
    }

    .chapter-body {
      overflow: auto;
      max-height: 53vh;
    }
  }
}
