$text-color: white;
$stroke-color: white;

$text-size: 1.25em;
$text-font: 'Roboto', sans-serif;

$header-size: 2.6em;
$header-font: 'Roboto Condensed', sans-serif;

$background-color: #333333;
$margin-left: 124px;
$line-stroke-width: 2px;
